.Container {
  padding: 16px 16px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  color: #323f47;
  font-family: Poppins;
  font-size: 23px;

  font-style: normal;
  font-weight: 400;

  line-height: 32px;
  letter-spacing: -0.32px;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.userItems {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  gap: 8px;

  background: #323f47;

  color: white;
}

.icon {
  color: white;
  width: 12px;
  height: 12px;
}

/* DESKTOP */
@media only screen and (min-width: 1440px) {
  .Container {
    padding: 32px 32px 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .description {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.36px;
  }
}

@media only screen and (min-width: 1440px) {
  .avatar {
    width: 44px;
    height: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .userItems {
    gap: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .icon {
    width: 16px;
    height: 16px;
  }
}
