.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 16px;
  flex-direction: column;
  width: 90px;

  margin-top: 25px;
}

.btnContainer {
  margin: 10px 0 5px;
  display: flex;
  gap: 10px;
}

.changeBtn {
  width: 7px;
  height: 7px;
}

.deleteBtn {
  width: 7px;
  height: 7px;
}

.changeIcon {
  width: 15px;
  height: 15px;
}

.title {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.8px;
  margin: 0;
  padding: 0;
}

.categoryName {
  display: flex;
  margin-top: 14px;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #1cb626;
}

.categorySpend {
  display: flex;
  gap: 4px;
}
.categoryDescr {
  color: #2f2f2f;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;

  letter-spacing: 0.96px;
  margin-bottom: 0px;
}
.amount {
  color: #2f2f2f;
  font-family: Poppins;
  font-size: 13px;

  font-style: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}

.categoryName {
  display: flex;
  gap: 5px;
  /* flex-direction: column; */
}

/* DESKTOP */
@media only screen and (min-width: 1440px) {
  .container {
    width: 230px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .amount {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1440px) {
  .icon {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .changeBtn {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .deleteBtn {
    width: 20px;
    height: 20px;
  }
}
