.calendarItem {
  cursor: pointer;
  border: none;
  outline: none;

  display: flex;
  width: 38px;
  padding: 5px 11px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.16px;

  border-radius: 30px;
  background: #fff;
}

@media only screen and (min-width: 1440px) {
  .calendarItem {
    padding: 7px 15px;
    width: 38px;
  }
}

.calendarContainer {
  padding: 4px;
}

.calendarItem {
  width: 40px;
  height: 40px;
  background-color: #323f4733;
  border: 1px solid #ccc;
  cursor: pointer;
  /* border-radius: 4px; */
  transition: background-color 0.2s;
}

.calendarItem:hover {
  background-color: #f0f0f0;
}

.calendarItem:disabled {
  background-color: #eee;
  cursor: not-allowed;
  opacity: 0.5;
}

.selected {
  background-color: #323f47 !important;
  color: #9be1a0;
  font-weight: bold;
}
