.logOutContainer {
  display: inline-flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);

  padding: 40px 14px;

  width: 344px;
}

.logOutTitle {
  color: #323f47;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.logOutDescr {
  width: 296px;

  color: #323f47;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
}

.logOutBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnLogOut {
  display: flex;
  padding: 14px 126px;

  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: var(--Accent, #9be1a0);

  color: #323f47;
  text-align: center;
  font-family: Poppins;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;

  font-style: normal;
  font-weight: 700;
}

.btnLogOut:hover {
  background: #87d28d;
  transition: all 0.2s ease-in-out;
}

.btnCancel {
  display: flex;
  padding: 18px 59px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: #f0eff4;

  color: rgba(50, 63, 71, 0.3);
  text-align: center;
  font-family: Poppins;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;

  font-style: normal;
  font-weight: 700;
}

.btnCancel:hover {
  color: #323f47;
  transition: all 0.7s ease-in-out;
}

.close {
  position: absolute;

  top: 20px;
  right: 20px;
}

.closeBtnItem {
  width: 24px;
  height: 24px;
}

/* DESKTOP */
@media only screen and (min-width: 1440px) {
  .logOutContainer {
    padding: 40px;
    width: 516px;
  }
}

@media only screen and (min-width: 1440px) {
  .logOutTitle {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.28px;
  }
}

@media only screen and (min-width: 1440px) {
  .logOutDescr {
    width: 436px;

    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.18px;
  }
}

@media only screen and (min-width: 1440px) {
  .logOutBtns {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px) {
  .btnLogOut {
    padding: 18px 57px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

@media only screen and (min-width: 1440px) {
  .btnCancel {
    padding: 18px 59px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

@media only screen and (min-width: 1440px) {
  .closeBtnItem {
    width: 28px;
    height: 28px;
  }
}
