.nameContainer {
  color: #323f47;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 38px;
  letter-spacing: -0.36px;

  display: flex;
  align-items: center;
  gap: 12px;
}

.arrowBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #323f47;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .nameContainer {
    font-size: 28px;
  }

  .arrowBtn {
    font-size: 28px;
  }
}
