.mainContainer {
  position: relative;
  width: 343px;
  height: 411px;

  padding-top: 0;
  padding-right: 32px;
  padding-left: 32px;

  flex-shrink: 0;

  border-radius: 30px;
  background: url(../../../assets/homePageAssets/backMobile.jpg);
}

.avatarContainer {
  display: flex;
  gap: 4px;

  width: 160px;

  margin-top: 219px;
  align-items: center;

  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 14px;
}

.avatars {
  display: flex;
  align-items: center;
  gap: -10px;
  padding-left: 14px;
}

.avatar {
  width: 28px; /* Розмір аватара */
  height: 28px; /* Розмір аватара */

  border-radius: 50%; /* Робимо коло */
  border: 3px solid #fff; /* Білий обвід */
  object-fit: cover; /* Коректне відображення зображення */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тінь для аватарів */
  position: relative;

  margin-left: -15px;
  z-index: 1; /* Для контролю порядку шарів */
}

.avatar:nth-child(2) {
  z-index: 2; /* Другий аватар поверх першого */
}

.avatar:nth-child(3) {
  z-index: 3; /* Третій аватар поверх другого */
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
}

.highlight {
  color: #76c893; /* Зелений колір для слова "happy" */
}

/* DESKTOP */
@media only screen and (min-width: 1440px) {
  .mainContainer {
    width: 672px;
    height: 736px;
    background: url(../../../assets/homePageAssets/background1.jpg);
  }
}

@media only screen and (min-width: 1440px) {
  .avatarContainer {
    width: 350px;
    height: 95px;
    margin-top: 537px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .avatars {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .avatar {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    line-height: 22.4px;
  }
}
