.formContainer {
  display: flex;
  flex-direction: column;
}
.formDescr {
  color: #2f2f2f;
  font-family: Poppins;

  font-style: normal;
  font-weight: 400;

  font-size: 14px;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;

  margin-top: 16px;
  margin-bottom: 8px;
}

.valueDescr {
  color: #323f47;
  font-family: Poppins;

  font-size: 16px;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;

  font-style: normal;
  font-weight: 700;

  margin-top: 24px;
  margin-bottom: 8px;
}

.formField {
  display: flex;
  padding: 14px 0px 14px 14px;
  align-items: flex-start;
  gap: 10px;
  width: 325px;

  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);

  outline: none;
}

.formField:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.saveBtn {
  color: #323f47;
  text-align: center;
  font-family: Poppins;

  font-size: 14px;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;

  font-style: normal;
  font-weight: 700;

  display: flex;
  padding: 18px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: var(--Accent, #9be1a0);
  transition: all 0.2s ease-in-out;

  margin-top: 24px;
}

.saveBtn:hover {
  background: #87d28d;
  transition: all 0.2s ease-in-out;
}

/* DESKTOP */

@media only screen and (min-width: 1440px) {
  .formDescr {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }
}

@media only screen and (min-width: 1440px) {
  .valueDescr {
    font-size: 18px;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.18px;
  }
}

@media only screen and (min-width: 1440px) {
  .formField {
    padding: 16px 0px 16px 16px;
    width: 390px;
  }
}

@media only screen and (min-width: 1440px) {
  .saveBtn {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
  }
}
