.radioGroup {
  display: flex;
  gap: 20px;

  color: #2f2f2f;
  font-family: Poppins;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;

  font-style: normal;
  font-weight: 400;

  margin-top: 14px;
}

@media only screen and (min-width: 1440px) {
  .radioGroup {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

.inputGroupName {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 337px;

  color: #323f47;
  font-family: Poppins;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.16px;

  font-style: normal;
  font-weight: 700;

  margin-top: 24px;
}

@media only screen and (min-width: 1440px) {
  .inputGroupEmail {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.18px;
  }
}

.inputGroupEmail {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 337px;

  color: #323f47;
  font-family: Poppins;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.16px;

  font-style: normal;
  font-weight: 700;

  margin-top: 14px;
}

@media only screen and (min-width: 1440px) {
  .inputGroupEmail {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.18px;
  }
}

.inputField {
  display: flex;
  padding: 16px 0 16px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.15);
}

.submitBtn {
  display: flex;
  padding: 14px 40px;

  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  border: 0;
  border-radius: 30px;
  background: var(--Accent, #9be1a0);

  color: #323f47;
  text-align: center;
  font-family: Poppins;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;

  font-style: normal;
  font-weight: 700;

  margin-top: 40px;
}

@media only screen and (min-width: 1440px) {
  .submitBtn {
    padding: 16px 50px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

/* DESKTOP */
