.deleteContainer {
  display: inline-flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.deleteTitle {
  color: #323f47;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.28px;
}
.deleteDescr {
  width: 436px;

  color: #323f47;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.18px;
}

.deleteBtns {
  display: flex;
  gap: 10px;
}

.btnDelete {
  display: flex;
  width: 170px;
  padding: 18px 67px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: var(--Accent, #9be1a0);

  color: #323f47;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  transition: all 0.2s ease-in-out;
}

.btnDelete:hover {
  background: #87d28d;
  transition: all 0.2s ease-in-out;
}

.btnCancel {
  display: flex;
  padding: 18px 59px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: #f0eff4;

  color: rgba(50, 63, 71, 0.3);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  transition: all 0.7s ease-in-out;
}

.btnCancel:hover {
  color: #323f47;
  transition: all 0.7s ease-in-out;
}

.close {
  position: absolute;

  top: 20px;
  right: 20px;
}

.closeBtnItem {
  width: 28px;
  height: 28px;
}
