.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -60%);
  z-index: 999;
}

.modal {
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* .settingsContainer {
  border-radius: 15px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 403px;
} */

.settingsTitle {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
}

.settingsTitleItem {
  color: #323f47;
  font-family: Poppins;

  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;

  font-style: normal;
  font-weight: 700;
}
.closeBtn {
  cursor: pointer;
  border: none;
}
.closeBtnItem {
  width: 24px;
  height: 24px;
}

.avatarItems {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
}

.avatar {
  width: 75px;
  height: 75px;

  border-radius: 100px;
}

.avatarItem {
  margin-top: 10px;

  display: flex;
}
.uploadBtn {
  border: 0;
  cursor: pointer;
  margin-right: 5px;
}

.avatarDescr {
  color: #2f2f2f;
  font-family: Poppins;

  font-style: normal;
  font-weight: 400;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.14px;
}

.settingsController {
  margin: 40px 0 40px 0;
}

.settingsControllerDescr {
  color: #323f47;
  font-family: Poppins;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.16px;

  font-style: normal;
  font-weight: 700;
}

/* DESKTOP */
@media only screen and (min-width: 1440px) {
  .settingsContainer {
    width: 620px;
  }
}

@media only screen and (min-width: 1440px) {
  .settingsTitle {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .settingsTitleItem {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.28px;
  }
}

@media only screen and (min-width: 1440px) {
  .closeBtnItem {
    width: 28px;
    height: 28px;
  }
}

@media only screen and (min-width: 1440px) {
  .avatar {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .avatarDescr {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
}

@media only screen and (min-width: 1440px) {
  .settingsControllerDescr {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.18px;
  }
}
