.settingsContainer {
  width: 840px;
}
.settingsTitle {
  display: flex;
  justify-content: space-between;
}
.settingsTitleItem {
  color: #323f47;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 114.286% */
  letter-spacing: -0.28px;
}
.closeBtn {
  cursor: pointer;
  border: none;
}
.closeBtnItem {
  width: 28px;
  height: 28px;
}
