.settingsContainer {
  border-radius: 15px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 403px;
}

@media only screen and (min-width: 1440px) {
  .settingsContainer {
    width: 620px;
  }
}
.settingsTitle {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1440px) {
  .settingsTitle {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .settingsTitleItem {
    font-size: 28px;
    line-height: 32px; /* 114.286% */
    letter-spacing: -0.28px;
  }
}

.settingsTitleItem {
  color: #323f47;
  font-family: Poppins;

  font-size: 20px;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;

  font-style: normal;
  font-weight: 700;
}
.closeBtn {
  cursor: pointer;
  border: none;
}
.closeBtnItem {
  width: 28px;
  height: 28px;
}

.avatarItems {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.avatarItem {
  margin-top: 10px;

  display: flex;
}
.uploadBtn {
  border: 0;
  cursor: pointer;
}

.avatarDescr {
  color: #2f2f2f;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
}

.settingsController {
  margin: 40px 0 40px 0;
}

.settingsControllerDescr {
  color: #323f47;

  /* Desktop_tablet/H4 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
}
