.mainContainer {
  width: 343px;
  height: 415px;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  border-radius: 30px;
  background: var(--Accent, #9be1a0);
}

.logo {
  color: #323f47;
  font-family: Poppins;
  font-size: 18px;

  font-style: normal;
  font-weight: 700;

  line-height: 20px; /* 111.111% */
  letter-spacing: -0.18px;

  text-transform: uppercase;

  margin-top: 32px;
  margin-left: 33px;
  margin-bottom: 0;
}

.mainSpendsContainer {
  margin-left: 32px;
  margin-top: 25px;
}

.title {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 76px; /* 95% */
  letter-spacing: -0.8px;

  margin-bottom: 0;
}

.descr {
  color: #2f2f2f;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.96px;
}

.categories {
  padding: 0 16px;
  display: flex;
  justify-content: center;

  gap: 10px;
}

.moneyImg {
  display: none;
}

/* DESKTOP */
@media only screen and (min-width: 1440px) {
  .mainContainer {
    width: 672px;
    height: 736px;
  }
}
