.TrackerPage {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

@media only screen and (min-width: 1440px) {
  .TrackerPage {
    flex-direction: row;
    padding: 32px;
    gap: 32px;
  }
}
